@media print
{
* {
	-webkit-print-color-adjust: exact;
}
html {
	background: rgb(255, 255, 255); height: 100%; line-height: 1.3; font-size: 9.5pt;
}
body {
	background: rgb(255, 255, 255); height: 100%; line-height: 1.3; font-size: 9.5pt;
}
a[href]::after {
	content: none !important;
}
p a {
	-ms-word-wrap: break-word;
}
img {
	border: currentColor; border-image: none; max-width: 200px;
}
.print-icons {
	display: none;
}
.body-width.print-true .col2-width {
	width: 70%; float: left;
}
.body-width.print-true .col2-width table td {
	width: auto;
}
.body-width.print-true .col3-width {
	width: 30%; margin-top: 20px; float: right;
}
}
